doctype html
html
	head
		title Cody Sehl - Developer &amp; Designer
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/css/index.css')
		link(rel='stylesheet', href='/img/octicons/octicons/octicons.css')
		//- Typekit
		script(type='text/javascript', src='//use.typekit.net/fjx5dfz.js')
		script.
			try{Typekit.load();}catch(e){}
		block header-includes

	body
		nav
			ul
				li
					a(href='/') About
				li
					a(href='/work') Work
				li
					a(href='http://blog.codysehl.net') Blog
		block content
